#Services-list {
    width: 100%;
}

#Services-list ul {
    width: 100%;
    height: 67.5vh;
    overflow-y: scroll;
    border-radius: 10px;
}

#Services-list .service-list-button {
    width: 97%;
    text-align: center;
}

#Services-list button {
    margin-top: 8px;
    border: none;
    transition: 0.2s;
}

#Services-list button:hover {
    filter: opacity(90%);
    cursor: pointer;
}

#Services-list button:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#Services-list ul li {
    list-style: none;
}

#Services-list .service-list-Card {
    width: 97%;
    height: 24.78vh;
    margin-bottom: 2vh;
    background: #E1E2E3;
    border-radius: 10px;
    padding: 2vh 2vh 2vh 2vh;
    cursor: pointer;
    transition: 0.2s;
}

#Services-list .service-list-Card:hover {
    filter: opacity(50%);
}

#Services-list .service-list-Card .service-list-main {
    margin-top: 0;
}

#Services-list .service-list-Card .service-list-main p {
    font-size: 2.61vh;
    color: var(--button-color);
}

#Services-list .service-list-Card .service-list-footer {
    margin-top: 2vh;
    display: flex;
    width: 25%;
    align-items: center;
}

#Services-list .service-list-Card .service-list-main p b {
    font-weight: 500;
    color: var(--button-color);
    line-height: 2.76vh;
}

#Services-list .service-list-Card .service-list-main p b input {
    font-weight: 500;
    color: var(--button-color);
    font-size: 1rem;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

#Services-list .service-list-Card .service-list-footer p {
    color: var(--tertiary-color);
    line-height: 2.76vh;
    margin-right: 5px;
}

